
header{    
    background-position: center center;
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    background-image: url("/img/robik.png");

}

h1{
    background-color: rgb(248, 248, 248, 0,85);
    margin-top: 350px;
    text-align: center;  
    color: #378bda;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

h2{    
    margin-top: 5px;
    margin-bottom: 5px;    
    color: #378bda;
    border-color: #378bda;
    text-transform: capitalize;
    margin-left: 15px;
    margin-right: 15px;

}

h3{    
    font-weight: bold;
    color:#378bda;    
}


li{
    list-style-image: url(../img/rf.png);
}


td,th{
    text-align: center;
}

thead>tr:first-child{    
    letter-spacing: 2px;    
}

